body {
    transition:  70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topmenu{
    position: absolute;
    top: -180px;
    background-color: mediumspringgreen;
    height: 190px;
    min-width: 100%;
}
#switcher{
    top:0px;
    min-width: 100%;
    height:20px
}

.opennow{
    top:+180px;
}

.closenow{
    top:-180px;
}


 


.ball{
width: 100px;
height: 100px;
background: linear-gradient(0deg, rgb(40, 0, 100), rgb(100, 50, 250), rgb(100, 150, 250));
border-radius: 100%;
}